* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
::-webkit-scrollbar {
  width: 20px;
  background-color: black;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(0, 0, 0);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff4f4f;
  border-radius: 10px;
}

:root {
  --primary: #ff4f4f;
  --black: #000000;
  --blackLighter: #9E9E9E;
  --grayLight: #F5F5F5;
  --grayMedium: #e5e5e5; 
  --white: #FFFFFF;
  --frontEnd: #ff4f4f;
  --backEnd: #8a0035;
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
} 