* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
::-webkit-scrollbar {
  width: 20px;
  background-color: rgb(17, 17, 17);
}

/* Track */


/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 0, 0, 0.089);
  
}

:root {
  --primary: red;
  --black: #000000;
  --blackLighter: #9E9E9E;
  --grayLight: #F5F5F5;
  --grayMedium: #e5e5e5; 
  --white: #FFFFFF;
  --frontEnd: red;
  --backEnd: #8a0035;
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
} 